<div class="bowl-card">
  <div class="image">
  </div>
  <div class="name">
    <%= bowl.restaurant.name %>
  </div>
  <div class="score-container">
    <%= bowl.soup %>
    <%= bowl.score %>
  </div>
  <div>
    <%= bowl.description %>
  </div>

</div>
