
<div class="bowl-card mt-5 mb-5">
  <div class="image">
    <%= image_tag (bowl.image), :class => "bowl-image"%>
  </div>
  <div class="name-container">
    <span class="px-3"><%= bowl.restaurant.name %></span>
  </div>
  <div class="score-container">
    <span class="px-3"><%= bowl.soup.capitalize %></span>
  </div>
  <div class="address-container">
    <span class="px-3"><%= bowl.restaurant.address %></span>
  </div>
</div>
