<%= render "layouts/search" %>
<div class="container mt-3">
  <h1>Recent Reviews</h1>
  <div class="bowl-container cards">
    <% @bowls.reverse_each do |bowl| %>
      <%= link_to bowl_path(bowl) do %>
        <%= render 'bowl', bowl: bowl  %>
      <% end %>
    <% end %>
  </div>
</div>
