<div class="container mt-3">
  <h1>My recent ramen reviews</h1>
  <div class="bowl-container cards">
    <% @bowls.each do |bowl| %>
      <%= link_to bowl_path(bowl) do %>
        <%= render 'bowl', bowl: bowl  %>
      <% end %>
    <% end %>
  </div>
</div>
