// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Maven+Pro&family=Noto+Sans+JP&family=Noto+Sans:wght@400&display=swap');


// Define fonts for body and headers
$body-font: "Noto Sans", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

//GOOGLE ICONS
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
