<div class="container">
  <h1>Restauants Page</h1>
  <%= link_to 'Add Restaurant', new_restaurant_path, class: "btn"%>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <li><%= restaurant.name %><li>
    <% end %>
  <% end %>
  </ul>
</div>
