.bowl-card {
  width: 400px;
  height: 700px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bowl-image {
  width: 400px;
  object-fit: contain;
}

.score-container {
  width:100%;
  display: flex;
  justify-content: space-between;
  // margin-left: 16px;
  // margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
