   <div class="container d-flex justify-content-center">
      <%= form_with url: root_path, method: :get, class: "d-flex search" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Restaurant, Soup, Location"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
   </div>
